.home_nav{
    color: darkolivegreen;
    font-weight: 450;
    font-size: 1r;
    left: 15%;
}

.title{
    color: darkgray;
    font-size: 2.5fr;
}

.flower_paragraph{
    font-size: 1fr;
    color: darkolivegreen;
}

.flowers{
    height: 300px;
    width: 450px;
    border-radius: 8px;
}
