/*  ======================
    BODY
    ====================== */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #222;
    line-height: 1.7;
}

.navbar{
    color: darkolivegreen;
    font-weight: 450;
    font-size: 1r;
    left: 15%;
}

.title{
    color: darkgray;
    font-size: 2.5fr;
}

.flower_paragraph{
    font-size: 1fr;
    color: darkolivegreen;
}

.flowers{
    height: 300px;
    width: 450px;
    border-radius: 8px;
}
